body {
  margin: 0;
}

.container {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cont-about {
  display: flex;
  gap: 40px;
}
.contact {
  background-color: white;
  padding: 15px;
  color: black;
  border-radius: 30px;
  height: 20px;
  margin-top: -4px;
}

.we {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.arrow {
  width: 20px;
  margin: auto;
  margin-top: -90px;
}

.cont-brand {
  display: flex;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  min-width: 50%;
}
.img-div {
  width: 50%;
  min-width: 50%;
}

.p-1 {
  width: 400px;
  color: gray;
}

.img-div img {
  width: 100%;
  padding: 0;
}
.cont-more {
  display: flex;
}

.out {
  width: 50%;
}
.out img {
  width: 100%;
}
.p-2 {
  width: 400px;
  color: gray;
}

.text-div-container {
  width: 50%;
}
.txt-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  min-width: 50%;
}

.container-pictures {
  display: flex;
  text-align: center;
}

.grapic {
  background-image: url(images/desktop/image-graphic-design.jpg);
  width: 700px;
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 50%;
  color: rgb(18, 117, 18);
  justify-content: center;
  align-items: end;
  display: flex;
}

.p2 {
  width: 300px;
}
.p3 {
  width: 300px;
}
.photography {
  background-image: url(images/desktop/image-photography.jpg);
  width: 700px;
  height: 600px;
  min-width: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(27, 27, 145);
  justify-content: center;
  align-items: end;
  display: flex;
}

.clients {
  align-items: center;
  justify-content: center;

  display: flex;
  margin-top: 120px;
}

.h2-client {
  color: gray;
  text-align: center;
}

.emily-img {
  border-radius: 100%;
  width: 100px;
}
.emily {
  margin-right: 150px;
}

.thomas-img {
  border-radius: 100%;
  width: 100px;
}

.p4 {
  width: 300px;
}
.p5 {
  width: 300px;
}
.p6 {
  width: 300px;
}
.Jennie {
  margin-left: 100px;
}
.jennie-img {
  border-radius: 100%;
  width: 100px;
}
.pp {
  color: gray;
}
.cont-images {
  display: flex;
}
.milk {
  width: 25%;
}
.orange {
  width: 25%;
}
.cone {
  width: 25%;
}
.sugarcubs {
  width: 25%;
}

.sunnyside {
  margin-top: -20px;
  background-color: hsl(168, 44%, 55%);
  width: 100%;
  height: 300px;
}

.sunny {
  color: hsl(212, 27%, 19%);
  text-align: center;
}

.three-txt {
  display: flex;
  color: hsl(168, 46%, 26%);
  gap: 30px;

  justify-content: center;
}
.icons {
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}
