body {
  margin: 0;
}

.container {
  background-image: url(images/desktop/image-header.jpg);
  background-position: center;
  background-size: cover;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cont-about {
  display: flex;
  gap: 40px;
}
.contact {
  background-color: white;
  padding: 15px;
  color: black;
  border-radius: 30px;
  height: 20px;
  margin-top: -4px;
}

.we {
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
.arrow {
  width: 20px;
  margin: auto;
  margin-top: -90px;
}

.cont-brand {
  display: flex;
}

.text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  min-width: 50%;
}
.img-div {
  width: 50%;
  min-width: 50%;
}

.p-1 {
  width: 400px;
  color: gray;
}

.img-div img {
  width: 100%;
  padding: 0;
}
.cont-more {
  display: flex;
}

.out {
  width: 50%;
}
.out img {
  width: 100%;
}
.p-2 {
  width: 400px;
  color: gray;
}

.text-div-container {
  width: 50%;
}
.txt-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px;
  min-width: 50%;
}

.container-pictures {
  display: flex;
  text-align: center;

}

.grapic {
  background-image: url(images/desktop/image-graphic-design.jpg);
  width: 700px;
  height: 600px;
  background-repeat: no-repeat;
  min-width: 50%;
  background-size: 100%;
  color: rgb(18, 117, 18);

}
.txt{
  margin-top: 370px;
}
.p2{
  width: 250px;
  margin: auto;
}
.p3{
  width: 300px;
  margin: auto;
}
.photography {
  background-image: url(images/desktop/image-photography.jpg);
  width: 700px;
  height: 600px;
  min-width: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
 color: rgb(27, 27, 145);
}

.clients{
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.h2-client{
  color: gray;
}


.emily-img{
  border-radius: 100%;
  width: 100px;
}
.emily{

align-items: start;
}



.p4{
  width: 200px;
}
